<div class="innerAll border-top">
  
  <!-- row -->
  <div class="row">

    <div class="col-md-9">
      <div class="widget">

        <!-- Category Heading -->
        <div class="widget-head">
          <a href="#" class="btn btn-xs strong btn-inverse pull-right"><i class="fa fa-plus fa-fw"></i> New Thread</a>
          <h4 class="margin-none">Padres</h4>
          <div class="clearfix"></div>
        </div>
        <!-- End Category Heading -->
        
        <!-- Category Listing -->
                        <div class="bg-gray-hover overflow-hidden">
          <div class="row innerAll half  border-bottom">
          <%= @parent.username %>
          </div>
        </div>
                <div class="bg-gray-hover overflow-hidden">
          <div class="row innerAll half  border-bottom">
          <%= @parent2.username if @parent2.present? %>
          </div>
        </div>
                <div class="bg-gray-hover overflow-hidden">
          <div class="row innerAll half  ">
          <%= @parent3.username if @parent3.present? %>
          </div>
        </div>
                <!-- // END Category Listing -->


      </div>
      <div class="widget">


        <!-- Category Heading -->
                <div class="widget-head">
          <a href="#" class="btn btn-xs strong btn-inverse pull-right"><i class="fa fa-plus fa-fw"></i> New Thread</a>
          <h4 class="margin-none">Hijos</h4>
          <div class="clearfix"></div>
        </div>
        <!-- End Category Heading -->
        
        <!-- Category Listing -->
                        <div class="bg-gray-hover overflow-hidden">
          <div class="row innerAll half  border-bottom">
            <%= @children.to_yaml %>
          </div>
        </div>
                <div class="bg-gray-hover overflow-hidden">
          <div class="row innerAll half  border-bottom">

          </div>
        </div>
                <div class="bg-gray-hover overflow-hidden">
          <div class="row innerAll half  ">
          
          </div>
        </div>
                <!-- // END Category Listing -->

      </div>
      <!-- // END col-separator --> 
    </div>
    <!-- // END col -->

    <!-- col -->
    <div class="col-md-3">

      <!-- col-separator -->
      <div class="widget">

                <div class="widget-head">
                    <!-- Heading -->
                    <h4 class="margin-bottom-none">Recent Members</h4>
                </div>
        <!-- Listing -->
                        <div class="border-bottom bg-gray-hover innerAll half">
          <i class="fa fa-clock-o text-muted fa-fw"></i>
          <a href="" class="">John</a>
          <small class="text-muted-dark">on 16 Jan 2014</small>
        </div>
                <div class="border-bottom bg-gray-hover innerAll half">
          <i class="fa fa-clock-o text-muted fa-fw"></i>
          <a href="" class="">mosaicpro</a>
          <small class="text-muted-dark">on 16 Jan 2014</small>
        </div>
                <div class="border-bottom bg-gray-hover innerAll half">
          <i class="fa fa-clock-o text-muted fa-fw"></i>
          <a href="" class="">Jane</a>
          <small class="text-muted-dark">on 16 Jan 2014</small>
        </div>
                <div class="border-bottom bg-gray-hover innerAll half">
          <i class="fa fa-clock-o text-muted fa-fw"></i>
          <a href="" class="">Jonathan</a>
          <small class="text-muted-dark">on 16 Jan 2014</small>
        </div>
                <div class=" bg-gray-hover innerAll half">
          <i class="fa fa-clock-o text-muted fa-fw"></i>
          <a href="" class="">themepro</a>
          <small class="text-muted-dark">on 16 Jan 2014</small>
        </div>
              </div>
    </div>
    <!-- // END col -->
            
  </div>
  <!-- // END row -->

</div>

</div>
<!-- // Content END -->

<div class="clearfix"></div>
<!-- // Sidebar menu & content wrapper END -->