<div class="container" id="med-primary">
  <div class="row">
    <div class="col-sm-12">
      <div id="top-pitch-container">
        <div id="header-top-title">
          <span>Oportunidad &Uacute;nica para Emprendedores Serios</span>
        </div>
        <h1 class="main-headline">&iquest;Qui&eacute;n Mas Quiere Recibir Una Capacitaci&oacute;n de Clase Mundial<br>
        para <strong>Generar $10,000 D&oacute;lares Mensuales en Los Pr&oacute;ximos 90 D&iacute;as</strong></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="responsive-video-container">
        <iframe src="//fast.wistia.net/embed/iframe/7pmhmgco8k" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe>
      </div>
    </div>
    <div class="col-sm-4">
      <a class="link-to-signup" href="#plans" title="Ingresa Tu Informac&iacute;on"><%= image_tag("newstep.png", :alt => "Ingresa Tu Informacion") %></a>
    </div>
  </div>
  
  
<div class="section-precio" id="plans">
  <h2>Elige Tu Nivel de Compromiso</h2>
  <div class="row">
    <div class="col-sm-4 column-precio basico">
      <h3>B&aacute;sico</h3>
<!--        <p class="members"><strong>1,000</strong> members</p> -->
      <ul class="precio-check-list">
        <li><i class="fa fa-check-circle"></i> Leyendas de Mercadeo en Red (LMR) - $564</li>
        <li><i class="fa fa-check-circle"></i> El perfil de un campe&oacute;n (audio) Valor $49</li>
        <li><i class="fa fa-check-circle"></i> Los 12 Principios de Mercadeo en Red ($997) Grabación</li>
        <li><i class="fa fa-check-circle"></i> El Arte del Trato Personal ($499) Grabación</li>
        <li><i class="fa fa-check-circle"></i> Videos Sorpresas para Acelerar tu Crecimiento Personal ($497)</li>
        <li><i class="fa fa-check-circle"></i> Acceso por un A&ntilde;o</li>
      </ul>
      <div class="bottom-part">
        <p class="crossed-price"><strike>2,606 d&oacute;lares</strike></p>
        <p class="price"><strong>$500 d&oacute;lares</strong></p>
        <a href="signup.php?product-id=001" class="btn btn-lg btn-default">Empieza Ahora</a>          
      </div>
    </div>
    <div class="col-sm-4 column-precio professional">
      <h3>Profesional</h3>
      <ul class="precio-check-list">
        <li><i class="fa fa-check-circle"></i> Leyendas de Mercadeo en Red (LMR) - $564</li>
        <li><i class="fa fa-check-circle"></i> El Perfil de Un Campeón (audio) Valor $49</li>
        <li><i class="fa fa-check-circle"></i> Los 12 Principios de Mercadeo en Red ($997) En Vivo + Grabaci&oacute;n</li>
        <li><i class="fa fa-check-circle"></i> El Arte del Trato Personal ($499) En Vivo + Grabaci&oacute;n</li>
        <li><i class="fa fa-check-circle"></i> No es lo que haces es COMO lo haces ($1,499) En Vivo + Grabaci&oacute;n</li>
        <li><i class="fa fa-check-circle"></i> Videos Sorpresas para Acelerar tu Crecimiento Personal ($497)</li>
        <li><i class="fa fa-check-circle"></i> Acceso por un A&ntilde;o</li>
        <li><i class="fa fa-check-circle"></i> <strong>Incubaci&oacute;n de Liderazgo</strong> ($997) En Vivo + Grabaci&oacute;n</li>
        <li><i class="fa fa-check-circle"></i> Para asistir a los eventos en Vivo se requiere reservaci&oacute;n. Puede asistir en vivo o v&iacute;a Web.</li>
        <li><i class="fa fa-check-circle"></i> Limite 1,000 miembros</li>          
      </ul>
      <div class="bottom-part">
        <p class="crossed-price"><strike>5,102 d&oacute;lares</strike></p>
        <p class="price"><strong>$1,000 d&oacute;lares</strong></p>
        <a href="signup.php?product-id=002" class="btn btn-lg btn-default">Empieza Ahora</a>
      </div>
    </div>
    <div class="col-sm-4 column-precio artista">
      <h3>Artista</h3>
      <ul class="precio-check-list">
        <li><i class="fa fa-check-circle"></i> Leyendas de Mercadeo en Red (LMR) - $564</li>
        <li><i class="fa fa-check-circle"></i> El Perfil de Un Campe&oacute;n (audio) Valor $49</li>
        <li><i class="fa fa-check-circle"></i> Los 12 Principios de Mercadeo en Red ($997) En Vivo + Grabaci&oacute;n</li>
        <li><i class="fa fa-check-circle"></i> El Arte del Trato Personal ($499) En Vivo + Grabaci&oacute;n</li>
        <li><i class="fa fa-check-circle"></i> No es lo que haces es COMO lo haces ($1,499) En Vivo + Grabaci&oacute;n</li>
        <li><i class="fa fa-check-circle"></i> Videos Sorpresas para Acelerar tu Crecimiento Personal ($497)</li>
        <li><i class="fa fa-check-circle"></i> Acceso por un A&ntilde;o</li>
        <li><i class="fa fa-check-circle"></i> <strong>Incubaci&oacute;n de Liderazgo</strong> ($997) En Vivo + Grabaci&oacute;n</li>
        <li><i class="fa fa-check-circle"></i> Para asistir a los eventos en Vivo se requiere reservaci&oacute;n. Puede asistir en vivo o v&iacute;a Web.</li>
        <li><i class="fa fa-check-circle"></i> Festejo en Yate y cena con Fundadores de RicoLife Global en USA (Limitado a 200 personas) ($1,497)</li>
      </ul>
      <div class="bottom-part">
        <p class="crossed-price"><strike>6,599 d&oacute;lares</strike></p>
        <p class="price"><strong>$1,500 d&oacute;lares</strong></p>
        <a href="signup.php?product-id=003" class="btn btn-lg btn-default">Empieza Ahora</a>
      </div>
    </div>
  </div>
</div>
  
  
  
</div>
<div id="master-footer">
  <div class="container">
    <p>Los ejemplos de ingresos presentados no son una garantía de ingresos. En cambio, están diseñados para que te hagas una idea de lo que es posible. El éxito en este negocio - como con cualquier cosa, requiere de un liderazgo, trabajo duro y dedicación. Si no estás dispuesto a hacer eso, no puedes esperar para obtener los mismos resultados.</p>
    <p clas="text-center">
      <ul class="foot-links">
          <li><%= link_to "Terminos y Condiciones",terms_conditions_path %></li>
          <li><%= link_to "Política de Privacidad",terms_conditions_path(@terms_conditions, :anchor => "privacy-policy") %></li>
      </ul>
    </p>
  </div>
</div>
