<!DOCTYPE html>

<html dir="ltr" lang="es-ES">
<head>
  <meta charset="UTF-8">

  <title>Lanzamiento Global | T&eacute;rminos y Condiciones</title>
  <meta content="noodp, noydir" name="robots">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" media="all" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,300,700" media="all" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" media="all" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Bitter:400,700" media="all" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,600,800" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet" type="text/css">
  <link href="assets/style.css" rel="stylesheet" type="text/css">
  <!--[if gte IE 9]>
    <style type="text/css">
      .gradient {
         filter: none;
      }
    </style>
  <![endif]-->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="landing-med template-custom">
  <div id="med-top-filler">
    <div class="container">
      <ul class="pull-right top-nav nav nav-pills">
        <li><a href="http://www.lanzamientoglobal.com/plexum.php">Ingresar</a></li>
        <li><a href="contactanos.php">Cont&aacute;ctanos</a></li>
      </ul>      
    </div>
  </div>
  <div id="med-navbar">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <a class="med-brand" href="http://lanzamientoglobal.com/">Lanzamiento Global</a>
        </div>
        <div class="col-sm-8">
          <h4 id="descuento-valido-hasta">Esta oferta estar&aacute; disponible hasta la media noche de hoy</h4>
          <div class="countdown">
            <div id="midnight-countdown"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="med-primary">
    <div class="row">
      <div class="col-sm-12">
        <div class="terms page_content">
          <h2>Terms and Conditions</h2>
          <p>Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern [business name]‘s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.</p>
          <p>The term ‘Ricolife.com‘ or ‘us’ or ‘we’ refers to the owner of the website whose registered office is P.O BOX 1340 Ceres, CA 95307. The term ‘you’ refers to the user or viewer of our website.</p>
          <p>The use of this website is subject to the following terms of use:</p>
          <ul>
            <li>The content of the pages of this website is for your general information and use only. It is subject to change without notice.</li>
            <li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</li>
            <li>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</li>
            <li>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</li>
            <li>All trademarks reproduced in this website, which are not the property of, or licensed to the operator, are acknowledged on the website.</li>
            <li>Unauthorized use of this website may give rise to a claim for damages and/or be a criminal offence.</li>
            <li>From time to time, this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</li>
            <li>Your use of this website and any dispute arising out of such use of the website is subject to the laws of United States.</li>
          </ul>
          <h2>Website Disclaimer</h2>
          <p>The information contained in this website is for general information purposes only. The information is provided by Ricolife.com and while we endeavor to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>
          <p>In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.</p>
          <p>Through this website you are able to link to other websites which are not under the control of Ricolife.com We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.</p>
          <p>Every effort is made to keep the website up and running smoothly. However, Ricolife.com takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.</p>
          <div id="privacy-policy">
          <h2>Privacy Policy</h2>
          <p>This privacy policy sets out how&nbsp;Ricolife.com uses and protects any information that you give Ricolife.com when you use this website.</p>
          <p>Ricolife.com is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.</p>
          <p>ricolife.com&nbsp;may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes.</p>
          <p><b>What we collect</b></p>
          <p>We may collect the following information:</p>
          <ul>
            <li>name and job title</li>
            <li>contact information including email address</li>
            <li>demographic information such as postcode, preferences and interests</li>
            <li>other information relevant to customer surveys and/or offers</li>
          </ul>
          <p><b>What we do with the information we gather</b></p>
          <p>We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:
          Internal record keeping.</p>
          <ul>
            <li>We may use the information to improve our products and services.</li>
            <li>We may periodically send promotional emails about new products, special offers or other information which we think you may find interesting using the email address which you have provided.</li>
            <li>From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail. We may use the information to customise the website according to your interests.</li>
          </ul>
          </div>
          <p><b>Security</b></p>
          <p>We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p>
          <p><b>How we use cookies</b></p>
          <p>A cookie is a small file which asks permission to be placed on your computer’s hard drive. Once you agree, the file is added and the cookie helps analyze web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences.</p>
          <p>We use traffic log cookies to identify which pages are being used. This helps us analyze data about web page traffic and improve our website in order to tailor it to customer needs. We only use this information for statistical analysis purposes and then the data is removed from the system.</p>
          <p>Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us.</p>
          <p>You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.</p>
          <p><b>Links to other websites</b></p>
          <p>Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.</p>
          <p><b>Controlling your personal information</b></p>
          <p>You may choose to restrict the collection or use of your personal information in the following ways:</p>
          <ul>
            <li>whenever you are asked to fill in a form on the website, look for the box that you can click to indicate that you do not want the information to be used by anybody for direct marketing purposes</li>
            <li>if you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by writing to or emailing us at soporte@ricolife.com</li>
          </ul>
          <p>We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information about third parties which we think you may find interesting if you tell us that you wish this to happen.</p>
          <p>You may request details of personal information which we hold about you under the Data Protection Act 1998. A small fee will be payable. If you would like a copy of the information held on you please write to <span>PO BOX 1340 Ceres, CA 95307</span></p>
          <p>If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible, at the above address. We will promptly correct any information found to be incorrect.</p>
          <div id="refund-policy">
          <h2>Refund Policy</h2>
          <p>If you are not 100% satisfied with your purchase, within 30 days from the purchase date, we will fully refund the cost of your order.</p>
          </div>
          <h2>EARNINGS DISCLAIMER</h2>
          <p>In carrying out our services, we provide herein, we act in good faith with due care, prudence, and diligence and in the best interest of our Ricolife.com and our customers. Ricolife.com recognizes its responsibility to devote the necessary business time and effort for the prosecution and timely completion of the work we are engaged in.</p>
          <p>In line with this, we do not deviate, however, from the fact that there are important risk factors that should be considered by you when deciding whether to engage our services or patronize the products appearing in our site. You recognize and agree that we have made no implications, warranties, promises, suggestions, projections, representations or guarantees whatsoever to you about future prospects or earnings, or that you will earn any money, with respect to your engagement with elmercadologo.com, and that we have not authorized any such projection, promise, or representation by others.</p>
          <p>Notwithstanding the effort to represent our products, services and the potential for income accurately, there is no guarantee that you will make these levels of income and you accept that the earnings and income statements differ by individual. Your results may vary with other and such will be based on your individual capacity, business experience, expertise, and level of desire. There is no assurance that any prior successes or past results as to earnings or income will not apply, nor can any prior successes be used, as an indication of your future success or results from any of the information, content, or strategies. Any and all claims or representations as to income or earnings are not to be considered as “average earnings”.</p>
          <p>All money, whether described or otherwise, spent in setting up, running, or marketing your business is the sole responsibility of the business owner. We do not accept responsibility for the money spent or lost. Furthermore, we render no legal or accounting opinion of any kind related to the legal compliance or financial soundness of any product, service or program offered by or through this web site and/or our clients or affiliated companies.</p>
          <p>RICOLIFE.COM MAKES NO REPRESENTATIONS AND WARRANTIES TO ANY OPINION MADE OR APPEARING HEREIN. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT, SHALL ELMERCADOLOGO.COM BE LIABLE FOR ANY DAMAGAES WHATSOEVER FOR PERSONAL INJURY, LOSS OF BUSINESS PROFITS, BUSINESS INTERRUPTION, LOSS OF BUSINESS INFORMATION, OR ANY OTHER PECUNIARY LOSS ARISING OUT OF THE USE OF OR INABILITY OF ITS PRODUCTS AND/OR SERVICES&nbsp; OR RESULTING FROM PARTICIPATION WITH OUR AFFILIATE PROGRAM.</p>
          <h2>DMCA DISCLAIMER</h2>
          <p>Inasmuch as we proscribe infringement of our incorporeal right, ricolife.com and its affiliates reciprocate your compliance therewith. Your intellectual property right is respected herein. Should you find probable grounds to believe that your right or work has been infringed, you may seek redress by observing the remedial procedures immediately set forth in the succeeding section.</p>
          <p><b>Remedial Procedures on Claims of Copyright Infringement/Issues</b></p>
          You may notify us of your claim/s of copyright infringement. It should be noted that only the real-party-in-interest or his assign has the right to file such claim. For us to proceed validly with your claim, your complaint must contain and allege the following information/facts:
          <ol>
            <li>An electronic or physical signature of the person directly affected or his assign of the act or omission so found violative of said right;</li>
            <li>description of the copyrighted work alleged to be infringed;</li>
            <li>An allegation of antecedent facts constituting infringement or unauthorized use of copyrighted work;</li>
            <li>Your address, which must not be a P.O. Box, contact number, and e-mail address; and</li>
            <li>Signed Verification and Personal Certification against Forum-Shopping.</li>
          </ol>
        </div>
      </div>
    </div>

  </div>
    
    
    
  </div>
  <div id="master-footer">
    <div class="container">
      <p>Los ejemplos de ingresos presentados no son una garantía de ingresos. En cambio, están diseñados para que te hagas una idea de lo que es posible. El éxito en este negocio - como con cualquier cosa, requiere de un liderazgo, trabajo duro y dedicación. Si no estás dispuesto a hacer eso, no puedes esperar para obtener los mismos resultados.</p>
      <p clas="text-center">
        <ul class="foot-links">
          <li><%= link_to "Terminos y Condiciones",terms_conditions_path %></li>
          <li><%= link_to "Política de Privacidad",terms_conditions_path(@terms_conditions, :anchor => "privacy-policy") %></li>
        </ul>
      </p>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="assets/js/script.js" type="text/javascript"></script>
</body>
</html>